.njam-container {
/*    font-family: 'Roboto',sans-serif;
*/    fill: #333;
    max-width: 620px;
    margin:0px 0px 17px 5px;
/*    padding:0px 0px 15px 2px;
*/}

@font-face {
    font-family: BentonSans;
    src: url("BentonSans/BentonSans-Regular_sOT.otf") format("opentype");
}

.njam-container div.btn-group.bootstrap-select {
    width: 90%;
}

h1, .banner, .district, .chamber {
    font-family: 'Roboto', sans-serif;
}

p, .contact-info, .name, .address, .rating, details {
    font-family:BentonSans;
}

.banner, .banner2 {
    background-color:#92898A;
    width: 100%;
    text-transform: uppercase;
    color:#fff;
}

.banner {
    height:20px;
    width:100%;
    padding:0px 0px 0px 5px;
}

.banner2 {
    margin:8px 0px 0px 0px;
    height:5px;
    bottom:10px;
    width:100%;
}

h1 {
    margin:2px;
}

.intro_text {
    font-size: 14px;
    clear: both;
}

.geo-form, .legislators {
/*    background-color: #C67549;
*/}

.geo-form {
    padding:5px 0px 5px 8px;
    margin:2px;
    font-size: 16px;
/*    width:90%;
*/  max-width:300px;
    clear:both;
}

.geo-form .towny {
    color:#000000;
}

#town {
    width:400px;
}

#input_click{
    background-color: #566EB5;
    border-color: #566EB5; 
     font-size: 14px;
    margin:2px;
}

.district {
    font-size: 20px;
}

.address {
    font-size: 13px;
    margin-bottom: 5px;
}

.rating {
    width:120px;
    margin-bottom: 10px;
}

.much-below-average {
    background-color: #de425b;
}

.below-average {
    background-color: #e08c56;
}

.average {
    background-color: #c3b38a;
}

.above-average {
    background-color: #81a96d;
}

.much-above-average {
    background-color: #488f31;
}

.overall-rating {
    color: #fff;

    font-size: 14px;
    text-transform: uppercase;
    font-weight:bold;
    float: left;
    width:200px;
    text-align:center;
    vertical-align: center;
}

details {
    clear:both;
}

.legislators a {
    color:#000;
    text-decoration: underline;
}

.name {
    font-size: 15px;
    padding-top:2px;
}

.staffing-rank {
    font-size: 20px;
} 

.staffing {
    margin-top: 10px;
}

.deficiencies-tot {
    font-size: 20px;
} 


.penalties-tot {
    font-size: 20px;
} 
.district {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.legislators {
    margin:0px 5px 10px 5px;
    padding:5px 7px 5px 7px;
    color:#000;
    max-width: 275px;
}

.chamber {
    margin-top: 10px;
    padding-top: 10px;
    font-weight: bold;
    clear:both;
}

.geo-leg-header {
    font-size: 14px;
    text-transform: uppercase;
}

.geo-table {
    font-size: 14px;
    padding:5px 5px 5px 5px;
    margin-top: 5px;

    display:grid;
    grid-template-columns: 75px 75px 150px;
    grid-template-rows: 25px 30px 30px 30px 30px 30px 30px;
}

.table-header {
    padding:2px;
    font-weight:bold !important;
    font-size:14px;
    color: #333;
    text-transform: uppercase;
}

#header-label {
    grid-column-start: 1;
    grid-column-end: 2;
}

#rn-label {
    grid-column-start: 1;
    grid-column-end:1;
    grid-row-start: 2;
    grid-row-end: 3;
}

#rn-our-label {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:3;
}


#rn-nj-label {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:3;
    grid-row-end:4;
}

#rn-our-value {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:2;
    grid-row-end:3;
}

#rn-nj-value {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:3;
    grid-row-end:4;
}


#lpn-label {
    grid-column-start: 1;
    grid-column-end:1;
    grid-row-start: 4;
    grid-row-end: 5;
}

#lpn-our-label {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:4;
    grid-row-end:5;
}


#lpn-nj-label {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:5;
    grid-row-end:6;
}

#lpn-our-value {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:4;
    grid-row-end:5;
}

#lpn-nj-value {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:5;
    grid-row-end:6;
}


#aide-label {
    grid-column-start: 1;
    grid-column-end:1;
    grid-row-start: 6;
    grid-row-end: 7;
}

#aide-our-label {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:6;
    grid-row-end:7;
}


#aide-nj-label {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:7;
    grid-row-end:8;
}

#aide-our-value {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:6;
    grid-row-end:7;
}

#aide-nj-value {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:7;
    grid-row-end:8;
}


.credit {
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: #333;
    margin-bottom: 5px;
}

/*#close-geo {
    display:none;
}*/

@media screen and (min-width: 850px) {
    #njam-container {
        float:left;
    }
}
